{% extends "layout.html" %}
{% block content %}
  <h1>Our Mission</h1>
  <p>Our mission is to create a platform where people who are diagnosed with<br>
    mental health illness or have drug addiction can meet each other to make each individual feel<br>
    less alone about their situation. Our project aims to achieve our goal with our sorting<br>
    mechanism that we call "filters" that filter common activities such as hobbies, academics to<br>
    make the experience less awkward. After people have been grouped with a group generator,<br>
    online activities and "lessons" and experts on the topic of drugs and addiction can help educate<br>
    these people to help cope with their situation.<br>
</p>
{% endblock content %}