{% extends "layout.html" %}
{% block content %}
  <h1>Home Page</h1>

  <form method="POST">
    <label for="names">Enter names: </label>
    <div>
        <textarea rows="10" cols="25" placeholder="ex jim" name = "names"></textarea> 
    </div>
    <input type = "submit" value = "Generate groups!">
  </form>
  <!--
  <div>
    <label for= "peoplePerGroup">Number of people per group:</label>
    <input type = "number" name = "peoplePerGroup">
  </div>
  <div>
    <label for="numOfGroups">Number of groups:</label>
    <input type = "number" name = "numOfGroups">
  </div>
  
-->

  <a href="/about">About Us</a>
{% endblock content %}